@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway+Dots&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Asegura que el padding y border se incluyan en el ancho y alto */
}

div a {
  text-decoration: none;
  color: black;
}

/*Variables*/
:root {
  --primary-font: "Raleway", sans-serif;
  --second-font: "Raleway Dots", sans-serif;
  --primary-color: #ecd0d3;
  --second-color: white;
  --alternative-color: #5c5c5c;
}

/*Tipografía*/
/*Mis estilos navbar*/
img {
  max-width: 100%;
}

.logo img {
  height: 50px;
}

.navbar {
  background-color: var(--primary-color);
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.navbar-nav li a {
  color: white;
  font-weight: 600;
  text-shadow: 1px 1px 2px rgba(206, 205, 205, 0.5);
  transition: all 0.1s ease-in-out;
}

.navbar-nav li a:hover {
  color: var(--alternative-color);
}

.dropdown .dropdown-menu {
  background-color: var(--primary-color);
}

.dropdown .dropdown-menu .dropdown-item:hover {
  background-color: var(--second-color);
}

/*Button menú hamburguesa*/
.navbar-toggler {
  color: red !important;
  border: none !important;
}
.navbar-toggler:focus {
  box-shadow: none !important;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-top: 1px solid rgb(221, 220, 220);
  background-image: url(../img/background-footer.png);
  width: 100%;
  background-size: cover;
}

.menu-footer {
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}
.menu-footer div {
  width: 250px;
}

.menu-footer__redes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-footer__redes_li {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 70px;
}

.menu-footer_item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(99, 98, 98);
}

.menu-footer_item:hover {
  color: black;
  text-decoration: underline;
}

footer p {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(99, 98, 98);
  margin: 0;
}

.logo {
  max-width: 100%;
  max-height: 100px;
}

.copyright {
  padding: 10px;
  margin-top: 30px;
}
.copyright p {
  color: rgb(104, 102, 102);
  font-weight: 500;
  font-family: var(--primary-font);
  font-size: 0.8rem;
}

.carousel-item img {
  max-height: 600px; /* Ajusta este valor para determinar el alto del carrousel. */
  object-fit: cover;
}

.home-informacion {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.home-informacion div {
  width: 350px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  background-color: rgb(255, 234, 234);
  border-radius: 5px;
}
.home-informacion div h2 {
  margin-top: 15px;
  font-family: var(--primary-font);
  font-size: 1.5rem;
  font-weight: 600;
}
.home-informacion div p {
  font-family: var(--primary-font);
  font-size: 0.8rem;
  text-align: center;
}

.logo_wpp {
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  position: fixed;
  bottom: 20px;
  right: 20px;
}
.logo_wpp img {
  width: 60px;
  height: 60px;
  margin: 0;
  padding: 0;
}

.logo_wpp a {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.logo_wpp a:hover {
  color: #2d7dd6;
  transform: scale(1.1);
}

.tratamiento {
  display: flex;
  flex-wrap: wrap;
  padding: 40px;
  justify-content: center;
  align-items: center;
  font-family: var(--primary-font);
  gap: 40px;
}
.tratamiento h1 {
  margin-bottom: 20px;
}
.tratamiento h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

.informacion {
  width: 700px;
}
.informacion p,
.informacion li {
  font-size: 0.9rem;
}
.informacion span {
  font-weight: 700;
}

.tratamiento div img {
  width: 800px;
}

.imagenes {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.imagenes div img {
  width: 300px;
  height: 300px;
  background-size: cover;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 2px rgba(226, 221, 221, 0.736);
}

.reservar-turno {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.reservar-turno a {
  cursor: pointer;
  font-family: var(--primary-font);
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: black;
  font-weight: bold;
  background-color: var(--primary-color);
  transition: all 0.3s ease-in-out;
}

.reservar-turno a:hover {
  color: white !important;
  scale: 1.1;
}

/*# sourceMappingURL=style.css.map */
